div{
    width: 300px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #8a8a8a;
    background: #f0f0f0;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}